<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <category
            name="Rostvertol"
            id="ru.rostvertolplc.osapr.commands.category">
      </category>
      <command
            name="Поиск и копирование в буфер обмена объектов по связям"
            categoryId="ru.rostvertolplc.osapr.commands.category"
            id="ru.rostvertolplc.osapr.tc08.commands.mainCommand">            
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ru.rostvertolplc.osapr.tc08.commands.mainCommand"
            class="ru.rostvertolplc.osapr.tc08.handlers.MainHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.rostvertolplc.osapr.tc08.commands.mainCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension point="org.eclipse.ui.menus">

		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu id="RVT.userMenu" label="Инструменты РВТ">
				<command commandId="ru.rostvertolplc.osapr.tc08.commands.mainCommand">
					<visibleWhen>
						<and>
  							<reference definitionId="com.teamcenter.rac.myteamcenter.inMainViewOrPerspective" /> 
							<with variable="rac_command_suppression">
								<not>
									<iterate operator="or">
  										<equals value="com.teamcenter.rac.addPartToProduct" /> 
  									</iterate>
  								</not>
  							</with>
  						</and>
  					</visibleWhen>
				</command>	       		   
			</menu> 
		</menuContribution> 
    </extension>
</plugin>